/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define NUM 1
#define FUN 2
#define NAV 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

// Max 9 characters per key
#define HMLGUIZ   &hm LGUI Z
#define HMLALTX   &hm LALT X
#define HMLCTLC   &hm LCTRL C
#define HMLSFTD   &hm LSHFT D
#define HMRSFTH   &hm RSHFT H
#define HMRCTLCOM &hm RCTRL COMMA
#define HMRALTDOT &hm RALT DOT
#define HMRGUISLH &hm RGUI FSLH

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q     &kp W     &kp F     &kp P     &kp B       &kp J     &kp L     &kp U     &kp Y     &kp SEMI
                &kp A     &kp R     &kp S     &kp T     &kp G       &kp M     &kp N     &kp E     &kp I     &kp O
                HMLGUIZ   HMLALTX   HMLCTLC   HMLSFTD   &kp V       &kp K     HMRSFTH   HMRCTLCOM HMRALTDOT HMRGUISLH
                                              &lt NUM TAB &lt NAV SPACE   &kp RETURN &lt FUN ESC
            >;
        };

        num_layer {
            bindings = <
                &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  STARSBL   &kp LPAR  &kp RPAR
                &kp N1    &kp N2    &kp N3    &kp N4    &kp N5      &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                &trans    &trans    &trans    &kp N5    &kp PRCNT   &trans    &trans    &trans    &trans    &trans
                                              &trans    &trans      &trans    &trans
            >;
        };

        fun_layer {
            bindings = <
                &kp F1    &kp F2    &kp F3    &kp F4    &kp F5      &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
                &kp F11   &kp F12   &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
                BTSEL0    BTSEL1    BTSEL2    BTSEL3    BTSEL4      BTCLR    &trans    &trans    &trans    &trans
                                              &mo MED   &trans      &trans    &trans
            >;
        };

        nav_layer {
            bindings = <
                &trans    WORDLEFT  &kp UP    WORDRIGHT &trans      &trans    &kp INS   &kp HOME  &kp PG_UP &trans
                &trans    &kp LEFT  &kp DOWN  &kp RIGHT &trans      &trans    &kp DEL   &kp END   &kp PG_DN &trans
                &trans    &trans    &trans    &kp K_APP &trans      &trans    &trans    &trans    &trans    &trans
                                              &trans    &trans      &trans    &trans
                        >;
                };
    };
};
